@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

p{
  margin-bottom: 0px !important;
}

.App{
  margin: 20px 0;
  text-align: center;
}

.btns button{
  margin: 0 5px !important;
}

.slider{
  text-align: center;
  padding: 50px;
}

.col-3{
  padding: 0 !important;
}

.col-9{
  padding: 1rem;
}